body {
  margin: 0;
  background-color: #21252c;
  color: #000;
}
.musicControl {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.musicControl .musicControl__title {
  grid-column: 3 / 5;
  justify-self: center;
}
.musicControl #stopbtn {
  grid-column: 3;
  justify-self: end;
}
.musicControl #playbtn {
  grid-column: 4;
  justify-self: start;
}
